<div class="search-form">
  <form>
    <div class="inicio">
      <h1>¡Busca tu destino soñado!</h1>
      <div class="radio-container">
        <app-check text="Ida y vuelta" name="group1"></app-check>
        <app-check text="Solo ida" name="group1"></app-check>
        <app-check text="Multi destino" name="group1"></app-check>
        
      </div>
    </div>
    
    <div class="input-group">
      <div class="input-row">
        <label class="check3">Origen:</label>
        <app-input-text type="text" src="assets/icons/ubication.png" alt="Search Icon" placeholder="Ingrese una ciudad"></app-input-text>
         </div>
      <div class="input-row">
        <label class="check3">Destino:</label>
        <app-input-text type="text" src="assets/icons/ubication.png" alt="Search Icon" placeholder="Ingrese una ciudad"></app-input-text>
      </div>
      <div class="input-row">
        <label class="check2">Fechas:</label>
        <div class="inputs-container">
          <app-input-date src="assets/icons/date.png" [txt]="'Ida'"><span class="input-text">ida</span></app-input-date>
          <app-input-date src="assets/icons/date.png" [txt]="'Vuelta'"></app-input-date>
        </div>
      </div>
      
      
      <div class="input-row">
        <label class="check2">Pasajeros</label>
        <app-input-text type="number" src="assets/icons/person.png" alt="Search Icon" placeholder="1"></app-input-text>

      </div>
      <div class="Share">
        <app-button class="ShareB" type="submit">Buscar</app-button>
      </div>
    </div>
    
  </form>
</div>
