<div class="search-form">
  <form>
    <div class="inicio">
      <h1>¡Busca tu destino soñado!</h1>
      <div class="radio-container">
        <label class="check">
          <input type="radio" name="trip-type" value="one-way"> Ida y vuelta
        </label>
        <label class="check">
          <input type="radio" name="trip-type" value="one-way"> Solo ida
        </label>
        <label class="check">
          <input type="radio" name="trip-type" value="multi-destination"> Multi destino
        </label>
      </div>
    </div>
    
    <div class="input-group">
      <div class="input-row">
        <label class="check3">Origen:</label>
        <app-input-text placeholder="Ingrese una ciudad"></app-input-text>
         </div>
      <div class="input-row">
        <label class="check3">Destino:</label>
        <app-input-text placeholder="Ingrese una ciudad"></app-input-text>
      </div>
      <div class="input-row">
        <label class="check2">Fechas:</label>
        <app-input-date class="input-date1"></app-input-date>
        <app-input-date class="input-date"></app-input-date>
      </div>
      
      
      <div class="input-row">
        <label class="check2">Pasajeros</label>
        <input type="number" class="input-number" placeholder="1" min="1">
      </div>
      <div class="Share">
        <app-button class="ShareB" type="submit">Buscar</app-button>
      </div>
    </div>
    
  </form>
</div>
