.search-form {
  background-color: #fff;
  border-radius: 0px 10px 10px 10px ;
  padding: 24px;

  .inicio {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    .radio-container {
      display: flex;
      padding: 5px 0px 20px 0px;
    }
    h1{
      color: #333; 
      font-size: 24px;
      margin-bottom: 20px;
    }
  }
  .check2, .check3 {
    display: flex;
    align-items: center;  
    gap: 8px;
    font-size: 16px;
    padding: 0px 0px 10px 0px;
  }
  .input-group {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;

    .input-number {
      width: 125px;
      height:50px;
      border: 1px solid rgb(135, 134, 134);
      border-radius: 5px; 
      padding: 5px; 
      font-size: 16px; 
      border-color: rgba(0, 0, 0, 0.2); 
      box-sizing: border-box;
      text-align: right;
    }
    .Share{
      padding: 25px 0px 0px 0px;
    }

    .ShareB{
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: rgba(36, 36, 36, 1);
      width: 150px;
      height: 50px;
      border-radius: 20px;
    }
  }

  .inputs-container {
    display: flex;
    flex-direction: row;  /* Esto asegura que los elementos estén en una fila */
    gap: 20px;  /* Espacio entre los componentes */
  }

  .input-icon {
    position: absolute;
    left: 10px;
    width: 16px; 
    height: 20px;
  }


}