<div class="nosotros-templates">
    <app-nav-bar-img></app-nav-bar-img>
    <div class="lineas">
        <app-title-all txt="Contamos con"></app-title-all>
     </div>
     <app-cart-nosotros [carts]="cart"></app-cart-nosotros>
     <div class="lineas">
        <app-title-all txt="Nuestra historia"></app-title-all>
     </div>
     <div class="historia">
        <img src="assets/images/historia.png" alt="">
        <div class="parrafo">
            <app-text-nostros text="Lorem ipsum dolor sit amet, homero erroribus in cum. Cu eos scaevola probatus. Nam atqui intellegat ei, sed ex graece essent delectus. Autem consul eum ea. Duo cu fabulas nonumes contentiones, nihil voluptaria pro id. Has graeci deterruisset ad, est no primis detracto pertinax, at cum malis vitae facilisis."></app-text-nostros>
            <app-text-nostros  text="Dicam diceret ut ius, no epicuri dissentiet philosophia vix. Id usu zril tacimates neglegentur. Eam id legimus torquatos cotidieque, usu decore percipitur definitiones ex, nihil utinam recusabo mel no. Dolores reprehendunt no sit, quo cu viris theophrastus. Sit unum efficiendi cu."></app-text-nostros >    
        </div>
        </div>
        <div class="lineas">
            <app-title-all txt="Nuestro Equipo"></app-title-all>
         </div>
         <div class="equipo">
            <img src="https://s3-alpha-sig.figma.com/img/6221/be51/f05e2786c21936f395bbc8128af4c249?Expires=1719187200&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=Seg8YW7WhGkf4XIkm36vAI8LOf1gVFBJRrwGaH8X5x4o9qGSQZvQ6uk2zj57CFYU3R~~jBCBw96rcPX~ci57cbsfjV-pbo338smfAutevw-fkLzzkXxHGQwokkWYxpJ0gT5YW6vmfBGgoqFVIK2PzA~dZWCORl~b82xaxiXBQScfk3ar5ZtrczDntCZY0g10-Fm4lnepiPbPcEaUUZMYZxGrBCph8N0-2XGkU4uTG55wUKczL6Qb3SJqreTFI5hrHaJr23lG-DmiEC0dNkn-cNQlPX9ZnQ5BcgNLflMKxEbSACpoBYdDyHknemp9f8LBVFwMYEmQKRLJKKzmCAFEiQ__" alt="">
            <app-text-nostros text="Lorem ipsum dolor sit amet, homero erroribus in cum. Cu eos scaevola probatus. Nam atqui intellegat ei, sed ex graece essent delectus. Autem consul eum ea. Duo cu fabulas nonumes contentiones, nihil voluptaria pro id. Has graeci deterruisset ad, est no primis detracto pertinax, at cum malis vitae facilisis.."></app-text-nostros> 
        </div>
</div>