<div class="nav-bar-container">
    <!-- Header Section -->
    <header>
      <div class="top-bar">
        <span><img src="assets/icons/phone.png" alt=""> 111-222-333-444</span>
<span><img src="assets/icons/email.png" alt=""> odysseyexpedition&#64;gmail.com</span>
        <div class="social-icons">
          <a href="#"><i class="fa fa-facebook"><img src="assets/icons/phone.png" alt=""></i></a>
          <a href="#"><i class="fa fa-instagram"><img src="assets/icons/phone.png" alt=""></i></a>
          <a href="#"><i class="fa fa-twitter"><img src="assets/icons/phone.png" alt=""></i></a>
          <a href="#"><i class="fa fa-youtube"><img src="assets/icons/phone.png" alt=""></i></a>
        </div>
      </div>
      <div class="nav-bar">
        <img src="assets/icons/icono.png" alt="Logo de la agencia" class="logo">
        <nav>
          <ul>
            <li><a href="#">Inicio</a></li>
            <li><a href="#">Nosotros</a></li>
            <li><a href="#">Ayuda</a></li>
          </ul>
        </nav>
        <img class="user-icon" src="assets/icons/user.png" alt="">
      </div>
    </header>
    <img src="assets/images/fondo.png" alt="" class="fondo">
</div>