.nav-bar-container{
    font-family: Arial, sans-serif;
    position: relative;

    

    .top-bar {
      background-color: #477584;
      color: white;
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 62px;
      font-size: 12px;
      
      padding: 0px 30px 0px 30px;
      img, span {
        vertical-align: middle;
      }

      span img{
        width: 28px;
        height: 28px;
      }
  
      .social-icons {
        a img{
          margin-left: 20px;
          width: 28px;
          height: 28px;
        }
      }
    }
  
    .nav-bar {
      display: flex;
      justify-content: space-around;
      align-items: center;
      padding: 0px 30px 0px 30px;
      height: 100px;
      background-color: rgba(238, 238, 238, 1);
  
      .logo {
        width: 300px;
        height: 84px;
      }
  
      nav ul {
        list-style: none;
        display: flex;
        padding: 0;
        margin: 0;
  
        li {
          padding: 50px;
          margin: 0 50px;
  
          a {
            text-decoration: none;
            color: #333;
            font-weight: bold;
          }
        }
      }
  
      .user-icon {
        height: 60px;
        width: 60px;
        cursor: pointer;
      }
    }
  
.fondo{
  width:1519px;
  height: 595px ;
}

  }
  