<div class="top-bar">
    <div class="contact">
      <app-contact-info icon="assets/icons/phone.png" alt="Phone" info="111-222-333-444"></app-contact-info>
      <app-contact-info icon="assets/icons/email.png" alt="Email" info="odysseyexpedition@gmail.com"></app-contact-info>
    </div>
    <div class="social-icons">
      <app-social-icon link="#" icon="assets/icons/whatsApp.png" alt="WhatsApp"></app-social-icon>
      <app-social-icon link="#" icon="assets/icons/instagrm.png" alt="Instagram"></app-social-icon>
      <app-social-icon link="#" icon="assets/icons/X.png" alt="Twitter"></app-social-icon>
      <app-social-icon link="#" icon="assets/icons/facebook.png" alt="Facebook"></app-social-icon>
    </div>
  </div>
  