@import '../../../../../styles/app-loading.scss';

.nav-link {
    font-size: $poppins;
    font-weight: 300;
    text-decoration: none;  
    color: #1E1E1E;
    font-size: 20px;
  }
  
  .nav-link:hover {
    color: rgb(168, 168, 168);
  }
  