<form>
  <section class="formulari">
    <div class="logo">
      <img src="assets/icons/icono.png" alt="Background image" class="img-fluid">
    </div>
    <div class="register-google" (click)="onClick()">
      <img src="assets/icons/google.png" alt="">
      <app-button >Continúa con Google</app-button>
      </div>
      <div class="lineas-centro">
        <hr><p>o</p><hr>
      </div>
    <app-form-field label="Nombres" type="text" placeholder="Ingrese sus nombres"></app-form-field>
    <app-form-field label="Apellidos" type="text" placeholder="Ingrese sus apellidos"></app-form-field>
    <app-form-field label="Correo" type="email" placeholder="Ingrese su correo"></app-form-field>
    <app-form-field label="Contraseña" type="password" placeholder="Ingrese su contraseña"></app-form-field>
    <app-form-field label="Confirmar contraseña" type="password" placeholder="Ingrese de nuevo su contraseña"></app-form-field>
    <div class="register" (click)="onClick()">
    <app-button>Regístrate</app-button>
    </div>
    <p>¿Ya tienes una cuenta? <a href="">Inicia Sesión</a></p>
  </section>
  </form>

    