@import '../../../../../styles/app-loading.scss';
@import '../../../../../styles/colors.scss';

.title{
    font-size: 60px;
    font-family: $poppins;
    color: $colorBackground;
    font-weight: 600;
  }
  